/* Add a black background color to the top navigation */
.topnav {
    background-color: #333;
    overflow: hidden;
    position: relative;
    display: flex;
    top: 100%;
}
  
/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
    background-color: #04AA6D;
    color: white;
}

.top-left {
    text-align: left;
}

.top-right {
   float: right;
}

.headshot-image img {
    border-radius: 5%;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
    margin-top: 72px;
}

/* projects page */

.page-header {
    text-align: center;
    margin: 60px;
    padding: 30px;
}

.project-container {
    display: flex;
    flex-direction:column;
    justify-content: center;
    margin-top: 100px;
}

.card-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 20px;
}


.project-card-image img {
    /* border-radius: 50%; */
    /* display: block;
    margin-left: auto;
    margin-right: auto;
    width: 18%; */
    left: 3%;
    right: 0%;
    top: 1%;
    bottom: 0%;
    position: absolute;
    /* border-radius: 50%; */
    /* display: flex; */
    /* margin-left: auto; */
    /* margin-right: auto; */
    width: 80%;
    /* justify-content: space-between; */
    margin: 10px;
}

.project-card-body {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative;
    width: 191px;
    height: 320px;
    background-color: #C4C4C4;
    border-radius: 20px;
    margin: 10px;
}

.project-card-header {
    position: absolute;
    left: 6.9%;
    right: 6.9%;
    top: 31%;
    bottom: 20%;
    margin-top: 15px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    display: flex;
    align-items: center;
    text-align: center;
}

.project-card-description {
    position: absolute;
    left: 4.27%;
    right: 4.88%;
    top: 67.33%;
    bottom: 4.88;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    display: flex;
    align-items: center;
    text-align: center;
    align-content: space-around;
    justify-content: space-around;
    flex-wrap: nowrap;
    flex-direction: row;
    margin-top: 30px;
}

/* companies styles */
.thumbnail {
    padding: 0 0 15px 0;
    border: none;
    border-radius: 0;
}
  
.thumbnail img {
    width: 100%;
    height: 100%;
    margin-bottom: 10px;
}

/* blog styles */

.image-container img {
    width: 500px;
    height: 500px;
    object-fit: cover;
}
  
.page-container {
    display: flex;
    justify-content: center;
}

.carousel {
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    height: 530px;
    width: 500px;
    overflow: hidden;
    margin-top: 75px;
    /* left: 50%; */
    margin-left: 380px;
}
  
.image-container {
    display: flex;
    transform: translateX(0);
    transition: transform 0.5s ease-in-out;
}
  
.buttons-container {
    display: flex;
    justify-content: space-between;
}

.btn {
    background-color: rebeccapurple;
    color: #fff;
    border: none;
    padding: 0.5rem;
    cursor: pointer;
    width: 49.5%;
}

.btn:hover {
    opacity: 0.9;
}

.btn:focus {
    outline: none;
}