/* Make sure that padding behaves as expected */
* {box-sizing:border-box}

/* Container for skill bars */
.container {
  width: 100%; /* Full width */
  background-color: #ddd; /* Grey background */
}

.skills {
  text-align: right; /* Right-align text */
  padding-top: 10px; /* Add top padding */
  padding-bottom: 10px; /* Add bottom padding */
  color: white; /* White text color */
}

.html {width: 90%; background-color: #ec1b1b;} /* red */
.css {width: 90%; background-color: #f39121;} /* orange */
.js {width: 75%; background-color: #eef121;} /* yellow */
.py3 {width: 85%; background-color: #0e29c4;} /* blue */